@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.shadowLog {
  box-shadow: inset 450px 170px 200px -7px #070708;
}

.custom-gradient-button {
  background: linear-gradient(to top right, #283760, #34E291);
  transition: background 0.3s ease-in-out;
}

.custom-gradient-button:hover {
  background: linear-gradient(to top right, #283760, #283760);
}

.link-login {
  color: rgb(156 163 175);
  transition: color 0.3s ease-in-out;
}

.link-login:hover {
  color: #616161;
  transition: color 0.3s ease-in-out;
}

.link-login:hover .main-text {
  color: #616161;
  transition: color 0.3s ease-in-out;
}

.link-login:hover .sub-text {
  color: #435eaa;
  transition: color 0.3s ease-in-out;
}
